@import "../components/plan-switcher";
@import "../components/goal_tabs";
@import "../components/strength-meter";
@import "../components/flip-cards";
@import "../components/goal-status-tabs";
@import "../components/goal-legend";
@import "../../../../bower_components/bootstrap/scss/mixins/clearfix";

h2.plan-name {
	border-bottom: none;
}

.goal-viewer-wrapper {
	display: flex;
	flex-flow: column nowrap;

	.team-goals-instruction {
		margin-top: -1.15rem;
		text-align: right;

		&::before {
			transform: translateX(-179px);
		}
	}
}

#main-content-wc-0 {
	.goal-viewer-heading {
		h1 {
			color: $color-lr-brand;
			font-size: 1.5rem;
			padding: 0 0 1rem;

			.goal-type {
				font-weight: 400;
				&::before {
					font-family: FontAwesome;
					display: inline-block;
					padding-right: 3px;
					font-size: 70%;
					margin-top: -3px;
					vertical-align: middle;
				}
			}

			.goal-name::before {
				content: ':';
				padding-right: 5px;
			}

		}
	}
	h1 .goal-type-organizational {
		&::before {
			content: '\f1ad';
		}
	}

	h1 .goal-type-leadership {
		&::before {
			content: '\f0c0';
		}
	}

	h1 .goal-type-personal {
		&::before {
			content: '\f24e';
		}
	}
}

.goal-viewer-heading {
	max-width: 100%;
	width: 100%;
	flex: 1 0 auto;
	padding-bottom: 1.5rem;

	.title-wrapper .plan-name {
		display: block;
		font-size: 1.25rem;
		font-weight: 400;
		color: darken($color-lr-light-grey, 5%);
	}

	h1 {
		display: block;
		width: 100%;
	}

	.actions {
		text-align: center;
		margin-top: 0;
		margin-bottom: 1rem;
		display: block;
		width: 100%;
	}

	.btn.back {
		margin-bottom: .5rem;
		@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
		float: right;

		&::before {
			content: '\f112';
			font-family: FontAwesome;
			margin-right: 5px;
			color: inherit;
		}

	}

	.goal-actions {
		clear: both;

		.btn {
			margin:0;
			border-color: $color-lr-brand;
			font-size: .9rem;
			text-transform: uppercase;
		}
		.view {
			border-right: none;
			border-radius: 20px 0 0 20px;
			background-color: $color-lr-brand;
			color: #fff;

			&::before {
				content: '\f201';
				font-family: FontAwesome;
				margin-right: 5px;
				color: inherit;
			}

			&:hover {
				background-color: darken($color-lr-brand, 10%);
				color: $color-white;
			}

		}
		.edit {
			border-left: none;
			border-radius: 0 20px 20px 0;

			&::before {
				content: '\f013';
				font-family: FontAwesome;
				margin-right: 5px;
				color: inherit;
			}

		}

	}

}

.goal-viewer {
	flex: 1 1 65%;
	padding: 1.75rem 1rem 1rem;
	color: $color-lr-grey;
	position: relative;
	//display: flex;
	flex-flow: row wrap;
	background: $color-white;

	> h1 {
		padding: 0 14rem 0 0 !important;
	}

	h1 {
		font-size: 1.75rem;
		font-weight: 300;
		margin-bottom: 1.35rem;
		//padding: 0 7.5rem 0 0 !important;

		.goal-type {
			font-weight: 400;
			padding-right: .25rem;
			&:after {
				content: ": ";
			}
		}
	}

	.actions.goal-actions {
		position: absolute;
		right: .75rem;
		top: 2.25rem;
	}

}

.printpage {
	position: absolute;
	right: -.25rem;
	top: 5.15rem;
	z-index: 99;

	a {
		color: transparent;
		text-decoration: none;
		height: 2.75rem;
		padding: .5rem;
		display: block;

		&::before {
			content: '\f02f';
			font-family: FontAwesome;
			color: $color-lr-brand;
			font-size: 1.15rem;
			display: block;
		}
	}

}

.alignment {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 30%;
	border-top: 1px solid #ddd;
	border-left: none;
	margin: 0 0 1rem 1rem;
	text-align: center;
	padding-top: 2.5rem;
	position: relative;

	.alignment-header {
		margin-bottom: 1.25rem;
		font-weight: 300;
		font-size: 1.75rem;
		color: $color-lr-grey;
	}

	.card {
		user-select: none;
		cursor: pointer;
		background: lighten($color-lr-light-grey, 15%);
		color: $color-white;
		border: 1px solid darken($color-lr-light-grey, 5%);
		margin: 1.5rem auto 0;
		width: 75%;
		font-size: 1.75rem;
		font-weight: 400;
		line-height: 2.5rem;

		.face {

		}

		.card-block {
			padding: 3rem 2rem;
			min-height: 17rem;
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: center;
			width: 100%;
			flex-flow: column nowrap;

			.fa-info-circle {
				&::before {
					font-size: 60%;
					margin-left: .5rem;
					vertical-align: middle;
				}
			}

			.predicted-ev {
				font-size: 1rem;
				line-height: 1.25;
				font-weight: 300;
				margin-top: .5rem;
				&::before {
					content: '(';
				}
				&::after {
					content: ')';
				}
				label {
					margin-bottom: 0;
					display: inline;
					&::after {
						content: ':';
						padding-right: 5px;
					}
				}
				span.val {
					font-weight: 400;
				}
			}

		}

		+ .card {
			margin-top: 2rem;
		}

		&.primary {
			background: $color-lr-light-grey;
			border: 1px solid darken($color-lr-light-grey, 5%);
			box-shadow: 0 0 19px rgba(42, 53, 66, 0.7);

			.face {
				background: $color-lr-light-grey;
				//border: 1px solid darken($color-lr-light-grey, 5%);
			}

		}

	}

	.personal-alignment-graph {
		position: relative;
	}

	.info.message {
		font-size: 1rem;
	}

}

.message-container {
	.message .message-actions {
		margin-left: .5rem;
	}
}

.goal-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	padding: 1rem;
	flex: 1;

	.goal-info-wrapper, .goal-measurement {
		display: flex;
	}

	.goal-info-wrapper {
		flex: 1;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 85%;
	}

	> .goal-measurement{
		text-align: center;
		flex-flow: row wrap;
		flex: 2;

		.goal-measurement {
			align-self: center;
			flex: 1 0 100%;
		}

	}

	.goal-measurement-actions {
		margin: 0 0 1.5rem;
		width: 100%;
	}

	.measure-info, .measure-metric-info {
		padding: 0 1rem;
		text-align: left;

		.prop {
			margin-bottom: 5px;
			line-height: 1.5;
		}

		label {
			margin-bottom: 0;
		}

	}

	.measure-info {
		flex: 1 0 35%;
		padding: 0 1rem 0 3rem;
	}

	.measure-metric-info {
		flex: 1 0 0;
		padding: 0 1rem;
	}

	.description, .start-date, .end-date, .goal-ev {

		label {
			display: block;
			font-weight: 400;
			padding-right: 1ch;
			margin-bottom: 0;
			&:after {
				content: ": ";
			}
		}

		div.val {
			display: inline-block;
		}

	}

	.financial-values-wrapper {
		flex: 1 0 100%;

		&:empty {
			flex: 0;
		}
	}

	.goal-ev {
		flex: 2 0 100%;
		width: 100%;
		padding-bottom: 1.5rem;

		.val.how {
			font-style: italic;
			margin-left: 5px;
			font-size: .8rem;
			display: inline;

			&::before {
				content: '-';
				padding-right: 5px;
			}
		}
	}

	.description {
		flex: 2 1 100%;
		order: 4;
		width: 100%;
		padding: 1.5rem 3rem 1.5rem 0;
	}

	.start-date, .end-date {
		flex: 1 0 50%;
		//font-size: 85%;
	}

	.measure-config-graph {
		margin: 0 auto;
		position: relative;
	}
	.config-graph {
		//position: relative;
		margin: 0 auto;
	}
	.config-graph-text {
		position: absolute;
		top:calc(50% - 40px);
		bottom:0;
		left:0;
		right:0;
		font-size: 3rem;
		font-weight: 400;
		color: $brand-primary;
	}
	.smart-guage-wrapper {
		display: flex;
		flex: 1 0 100%;
		justify-content: flex-start;
		padding-bottom: 3rem;
		order: 5;
		margin-top: 1rem;
	}

	//CAROUSEL
	.carousel-indicators {
		display: none;
	}

	.carousel-control {

		&.right, &.left {
			background-image: none;
			text-shadow: none;
		}

		.icon-next, .icon-prev {
			color: $color-lr-grey;
			font-size: 4rem;
			margin-top: -4rem;
			height: 4rem;
		}

	}

	.carousel-inner {

		.config-graph {
			canvas {
				max-width: 100%;
				max-height: 100%;
			}
		}

		.carousel-caption {
			position: relative;
			bottom: auto;
			left: auto;
			right: auto;
			color: $color-lr-light-grey;
			text-shadow: none;
			padding: 1rem 0;

			p {
				font-size: 1.25rem;
				font-weight: 500;
				margin-bottom: 0;
			}

		}

	}

}

.chart-legend {
	//float:left;
	min-width: 8rem;

	.legend-header {
		color:$color-lr-grey;
		font-weight: 300;
		margin-bottom: .25rem;
		font-size: 1rem;
	}

	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		&:not(.radar-legend) {
			text-align: left;
		}

	}

	li {
		padding: 0;
		margin: 0 0 .25rem;
		font-size: .75rem;
		span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 5px;
			border-radius: 100%;

			&.segment-label,
			&.segment-value {
				width: auto;
				height: auto;
				display: inline;
			}

			&.segment-label {
				&::after {
					content: ':';
					padding-right: 3px;
				}
			}

			&.legend-label {
				width: auto;
			}

			&.aligned {
				font-weight: 500;
				font-size: 1.25rem;
				color: $color-lr-grey;
			}

		}
	}
}

section.tracking-metrics {
	border-top: 1px solid #ddd;
	margin: 2.85rem .5rem 1.5rem;
	padding-top: 1.75rem;
	flex: 1 0 100%;

	h1, h2 {
		text-align: left;
	}

	h1 {
		margin-bottom: 0;
		display: inline-block;
		padding-right: 0 !important;
	}
	h2 {
		font-size: .9rem;
		font-style: italic;
		color: $color-lr-light-grey;
		padding-left: 0 !important;
	}

	.metrics-lists {
		display: flex;
		flex-flow: row wrap;

		div.tracking-metrics {
			/*display: flex;
			justify-content: center;
			flex-wrap: wrap;*/
			flex: 1 0 auto;
			width: 40%;

			&.behaviors {
				order: 2;
				padding-left: 1.5rem;
			}

			&.attitudes {
				order: 1;
				padding-right: 1.5rem;
				border-right: 1px solid #e5e5e5;
			}

			.tracking-metric {
				margin: 1rem 0 2rem;
				display: flex;
				flex-direction: column;

				h1 {
					font-weight: 500;
					text-align: left;
					font-size: 1rem !important;
					color: $color-lr-grey;
					line-height: 1.25;
				}
				.measure-config-graph{
					/*margin-top: 2rem;
					min-height: 13.25rem;
					flex: 1 0 auto;*/
					position: relative;
				}
				.boolean-measure .config-graph,
				.word-measure .config-graph {
					display: flex;
					.chart-legend{
						margin-left:.5rem;
						display: block;
						width: 100%;
					}
				}
				.config-graph {
					text-align: left;
					margin: 0;
					width: 100%;
					max-width: 100%;
					canvas {
						width: 90% !important;
						height: 90% !important;
						margin: 0;
						display: block;
					}
				}

				[data-chart-type="pie"] {
					/*max-width: 250px;
					margin: 0 auto;*/

					canvas {
						margin: 0;
						max-width: 250px !important;
						max-height: 250px !important;
						width: 50% !important;
						height: 50% !important;
					}

					/*.chart-legend {
						position: absolute;
						bottom: 0;
						left: 0;
					}*/

					.chart-legend .legend-header {
						text-align: left;
					}

				}

				.tracking-metric-actions {
					margin: 1rem 0;
				}

				.tracking-metric-actions, .measure-info {
					text-align: left;
				}

			}

			.metrics-list-header {
				flex: 1 0 100%;
				text-align: left;
				font-weight: 400;
				font-size: 1.35rem;
			}

		}

	}

}

.measure-info, .measure-metric-info {
	font-size: $font-size-sm;
	color: $color-lr-light-grey;

	label {
		font-weight: 500;
		font-size: $font-size-sm;
		color: $color-lr-light-grey;
		&::after {
			content: ':';
			padding-right: 5px;
		}
	}

	.measure-description {
		span.val {
			display: block;
		}
	}

	.metric-last-updated {

		.val {
			color: $color-lr-red;
			font-style: italic;

			&::after {
				content: '\f12a';
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				padding-left: 5px;
			}

			&.interval-update-received {
				color: $color-lr-light-grey;
				span.label {
					color: $color-lr-light-grey;
				}
				&::after {
					content: '\f087';
				}

			}

		}

	}

}

.goal-measurement-actions, .tracking-metric-actions {
	.btn {
		@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
	}
}

.update-tracking-measure-dialog,
.update-goal-measure-dialog{
	width:50rem !important;
	.prop-header{
		display: none;
	}
	.prop-body{

	}

}

.personal-alignment, .leadership-alignment {

	.chart-legend {
		padding-top: 1rem;
		float: none;
		margin: 0 auto;
		width: auto;
		max-width: 14.5rem;
		span:not(.legend-label) {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 5px;
			border-radius: 100%;
		}
		span{
			&.legend-label {
				display: inline;
				width: auto;
				border-radius: 0;
			}

			&.aligned {
				font-weight: 500;
				font-size: 1.25rem;
				color: $color-lr-grey;
			}
		}
	}

}


/* ----- UPDATE GOALS DIALOG */
.int-measure-value-editor {

	.value-indicator {

		> div {
			display: inline-block;
			vertical-align: middle;
			margin-right: 1.5rem;
		}

	}

	label, .int-measure-current-value label {
		font-weight: 400;
		display: inline-block;

		&::after {
			content: ': ';
			padding-right: 5px;
		}

	}

	.range-bound-value-label, .int-measure-current-value-label, .int-measure-last-value-label {
		padding-left: 5px;
	}

	.prop { padding: 0; }

	.int-measure-slider {
		margin-top: 1rem;

		> span {
			display: inline-block;
			vertical-align: top;

			&.slider-editor {
				margin-bottom: 0;
				padding: 0 10px;

				input {
					border: none;
				}

			}

		}

	}

}

div.window.dialog {

	.goal-repo-item-editor {
		.prop-header-actions {
			display: none;
		}
		.prop-body .predicted-ev-editor {
			margin-top: 1rem;
		}
	}

	.boolean-measure-editor {
		.val > span {
			display: block;

			+ span {
				padding-left: 0;
			}

			label {
				display: inline;
				padding-left: 5px;
			}
		}
	}

	.actions.dialog-actions {
		margin-top: 1rem;
		.btn.no {
			color: $color-lr-red;
			border-color: $color-lr-red;
		}
	}
}


/* ----- MEDIA QUERIES */
@media (min-width: 768px) {
	#main-content-wc-0 {
		.goal-viewer-heading {
			h1 {
				margin: 0;
				padding: 0;
				font-size: 2rem;
			}
		}
	}

	.goal-viewer-heading {
		.title-wrapper {
			width: calc(100% - 325px);
			display: inline-block;
		}

		h1 {
			display: inline-block;
			vertical-align: bottom;
			padding: 0;
			margin-bottom: 0;
		}
		.actions {
			display: inline-block;
			vertical-align: bottom;
			margin-bottom: 0;
			width: 325px;
		}
	}

	.goal-wrapper {

		.goal-info-wrapper {
			margin-top: -35px;
		}

		.smart-guage-wrapper {
			margin-top: 0;
		}

		.start-date {
			padding-bottom: 1.5rem;
		}
	}

	.goal-viewer, .alignment {
		//margin-top: 32px;
	}
	.alignment {
		.personal-alignment-graph, .leadership-alignment-graph {
			width: 350px !important;
			margin: 0 auto;
			canvas {
				max-width: 100% !important;
			}
		}
	}
}

@media (max-width: 1024px) {
	.alignment .printpage {
		display: none;
	}
}

@media (max-width: 1099px) {
	.goals-viewer,
	.goal-management {
		.tab-container {
			.tab-items .ti {
				a {
					font-size: 1rem;
				}
			}
		}
	}
	.goal-viewer {
		flex: 2;
	}
	.alignment {
		flex: 1;
		margin: 1rem;
	}
	.goal-wrapper {
		.goal-info-wrapper {
			flex: 1;
			flex-direction: column;
			flex-wrap: nowrap;
		}
		.description,
		.financial-values-wrapper {
			flex: 1 0 auto;
			width: 100%;
		}
		.goal-ev {
			flex: 2;
		}
		.start-date, .end-date {
			flex: 1 0 auto;
		}
	}
}

@media (min-width: 1100px) {
	.alignment {
		flex-direction: column;
		border-left: 1px solid #ddd;
		border-top: none;
		padding-top: .35rem;
	}

	.goal-viewer-wrapper {
		flex-flow: row wrap;
	}

	.goal-wrapper {
		flex-direction: row;

		.start-date {
			padding-bottom: 0;
		}

		.goal-ev {
			flex: 2 0 100%;
		}
	}

	section.tracking-metrics {
		div.tracking-metrics .tracking-metric {
			h1 {
				min-height: 4.5rem;
			}
		}
	}

	/*.printpage {
		position: absolute;
		right: -.25rem;
		top: 5.25rem;
		z-index: 99;

		a {

			&::before {
				font-size: 1.35rem;
			}
		}

	}*/

}

@media (max-width: 1499px) {

	.goal-wrapper {
		> .goal-measurement .goal-measurement {
			width: 100%;
		}
	}

}

@media (min-width: 1500px) {

	.goal-wrapper {
		//max-height: 39rem;

		.goal-measurement {
			justify-content: center;

			.goal-measurement { width: 100%; }

		}

	}

}

@media (max-width: 767px)
and (orientation:portrait) {
	#main-content-wc-0 {
		padding: .5rem;
	}

	.goal-viewer-heading {
		.btn.back {
			width: 40px;
			overflow: hidden;
			white-space: nowrap;
			color: transparent;
			margin-bottom: 0;
			&::before {
				color: $color-lr-brand;
			}
			&:hover, &:focus {
				color: transparent;
				&::after {
					color: $color-lr-brand;
				}
			}
		}
		.goal-actions {
			display: inline-block;
			float: left;
			clear: none;
		}
		.btn.edit {
			width: 45px;
			overflow: hidden;
			white-space: nowrap;
			color: transparent;
			&::before {
				color: $color-lr-brand;
			}
			&:hover, &:focus {
				color: transparent;
				&::before {
					color: $color-lr-brand;
				}
			}
		}
		.btn.view {
			width: 45px;
			overflow: hidden;
			white-space: nowrap;
			color: transparent;
			&::before {
				color: $color-white;
			}
			&:hover, &:focus {
				color: transparent;
				&::after {
					color: $color-white;
				}
			}
		}
	}

	.goal-viewer {

		h1 {
			padding: 0 3rem 0 0 !important;
			font-size: 1.5rem;
		}

		.btn.edit {
			color: transparent !important;
			width: 40px;
			padding: 5px 12px;
			overflow: hidden;
			white-space: nowrap;

			&::before {
				content: '\f040';
				font-family: FontAwesome;
				padding-right: 3px;
				color: $color-lr-brand;
			}

			&:hover, &:focus {
				color: transparent !important;
			}

		}

	}

	.goal-wrapper {
		flex-flow: column nowrap;
		padding: 0;
		flex: 1 0 100%;

		.goal-info-wrapper {
			flex: 1;
			flex-flow: row wrap;
			order: 2;
		}
		.description, .goal-ev {
			flex: 2 0 100%;
		}
		.start-date, .end-date, .smart-guage-wrapper {
			flex: 1 0 auto;
			width: auto;
		}
		.prop-group.goal-measurement {
			padding-bottom: 3rem;
			order: 1;

			.measure-config-graph .config-graph {
				width: 250px !important;
				height: 166px !important;
			}

		}

		.measure-info, .measure-metric-info {
			flex: 1 0 auto;
			padding: 0;
			margin-bottom: .5rem;
			max-width: 100%;
		}

		.goal-measurement-actions {
			margin-bottom: 1rem;
		}

		.carousel-control {
			.icon-prev {
				left: 0;
				margin-left: 0;
			}
			.icon-next {
				right: 0;
				margin-right: 0;
			}
		}

	}

	section.tracking-metrics {
		margin: 2.85rem 0 1.5rem;

		.metrics-lists {
			flex-flow: column wrap;
			div.tracking-metrics {
				width: 100%;

				&.behaviors {
					padding-left: 0;
				}
				&.attitudes {
					padding-right: 0;
					border-right: none;
				}

				.tracking-metric {
					width: 100%;
					margin: 1rem 0;

					[data-chart-type="pie"] canvas {
                        //margin: 0 auto;
                        //width: 175px !important;
                        //height: 175px !important;
						margin-left: -1rem;
						width: 50% !important;
						height: 50% !important;
                    }

				}
			}
		}

		.config-graph {
			padding-top: 1rem;

			&[data-chart-type="line"] {
				padding-top: 0;
				display: flex;
				canvas {
					align-self: flex-end;
				}
			}

		}

	}

	.goal-measurement, section.tracking-metrics {
		.config-graph {
			width: 250px !important;
		}
	}

	.alignment {
		flex: 1 0 auto;
		.personal-alignment-graph, .leadership-alignment-graph {
			width: 300px !important;
			margin: 0 auto;
			.chart-legend {
				position: relative;
				padding-bottom: 3rem;
				//left: auto;
				//top: auto;
			}
			canvas {
				max-width: 100% !important;
			}
		}
	}

	/*.chart-legend {
		float: none;
		position: absolute;
		left: -10px;
		top: -15px;
		text-align: left;
	}*/

	.update-tracking-measure-dialog,
	.update-goal-measure-dialog {
		width: auto !important;
	}

	.back-top {
		bottom: auto;
		margin-top: .75rem;
		right: .5rem;
	}

}


/* ----- ##### BEGIN PRINT STYLES ##### ----- */
@media print {

	@page {
		size: landscape;
		margin: .2in .15in .15in .15in;
	}

	div {
		/*float: none !important;
		position: relative;
		page-break-inside: avoid;*/
		//display: block !important;
		//position: relative !important;
	}

	#main-content-wc-0 {
		margin: 1rem;

		h1, h2, h3, .goal-viewer, .alignment .alignment-header {
			color: #000 !important;
		}

		h1, .alignment .alignment-header {
			font-size: 1.75rem;
			font-weight: 400;
		}

		h2.plan-name {
			position: absolute;
			right: 1rem;
			top: 1rem;
			font-size: 1.5rem;
		}

		h1.metric-label {
			margin-top: 0;
		}

	}

	.goal-viewer-wrapper {
		position: relative;
		float: none;

		.team-goals-instruction {
			display: none;
		}

		&::before {
			content: 'Goal Progress Report';
			font-size: 1.5rem;
			display: block;
			width: 100%;
			text-align: left;
			font-weight: 400;
			margin-bottom: .75rem;
			border-bottom: 1px solid lighten($color-lr-light-grey, 25%);
			padding: 0 0 .5rem;
		}
	}

	.goal-viewer-heading .title-wrapper {
		width: 100%;
	}

	#main-header, .sidebar-toggle-box, .coaching-selector.dropdown,
	#side-nav, #page-footer,
	ul.tab-items, nav.goal-selector, .actions,
	.goal-wrapper .carousel-control {
		display: none !important;
	}

	.goal-wrapper .carousel-inner {
		display: flex;
		flex-flow: row nowrap;

		> .carousel-item {
			/*display: inline-block !important;
			vertical-align: top;*/
			display: inline-flex !important;
			flex-flow: column nowrap;
			perspective: 1px;

			&.measurement-line {
				flex: 1 0 60%;
				width: 60% !important;
				min-height: 310px;
				position: relative;

				canvas {
					transform: translateY(15px);
				}
			}

			&.measurement-gauge {
				flex: 1 0 25%;
				width: 25% !important;
				//float: right;
			}

		}

		.carousel-caption {
			position: absolute;
			bottom: -12px;
			width: 100%;

			p {
				font-size: 80% !important;
			}

		}

	}

	.goal-wrapper .prop-group.goal-measurement .measurement-gauge .measure-config-graph .config-graph {
		width: 100% !important;
		height: auto !important;
	}

	.goal-wrapper .prop-group.goal-measurement .measurement-line .measure-config-graph .config-graph {
		width: 100% !important;
		height: 260px !important;
		canvas {
		}
	}

	.goal-status-container {
		margin-top: 0;
		font-weight: 400;
		position: absolute;
		right: 0;
		width: auto;
		top: 0;

		> span.status-completed {
			border: none;
			background: transparent;
		}
	}

	.goal-wrapper {
		padding: 0;
		position: relative;
		/*page-break-inside: avoid;
		page-break-after: always;
		page-break-before: avoid;*/

		.goal-info-wrapper {
			margin-top: 0;
			order: 1;
			flex: 1 0 100%;
			flex-flow: row wrap;
			position: relative;

			.description {
				label, .val {
					display: inline;
				}
			}

		}

		.financial-values-wrapper {
			max-width: 100%;

			.goal-ev:first-child {
				max-width: calc(100% - 13rem);
			}
		}

		.smart-guage-wrapper {
			//padding-bottom: 8rem;
			padding-bottom: 1rem;
			-webkit-print-color-adjust: exact;

			.prop-group.smart-gauge {
				order: 2;
			}

			.meter {
				width: 20rem;
			}
		}

		.prop-group.goal-measurement {
			order: 2;
			flex: 1 0 100%;
			page-break-inside: avoid !important;
			page-break-before: always !important;
			position: relative;
			float: none;
			padding-top: 2rem;
		}

		> .goal-measurement .goal-measurement {
			position: relative;
			float: none;
			page-break-inside: avoid;
		}

		.description {
			order: 1;
			flex: 1 0 100%;
			padding-top: 0;
		}
		.start-date {
			order: 3;
		}
		.end-date {
			order: 4;
		}
		.measure-info, .metric-last-updated {
			text-align: left;
			font-size: .8rem;
			label {
				font-size: .8rem;
			}
		}
		.measure-info {
			flex: 1 0 auto;
			max-width: 50%;
		}
	}

	.goal-viewer {
		padding-top: 0;
		position: relative;
		//page-break-after: always !important;

		.measure-info .metric-last-updated .val {
			font-style: normal;
			color: #000;

			&::after {
				display: none;
			}
		}

		.goal-viewer-wrapper {
			flex-direction: row;
		}

		.tab-container .tab-content, section.tracking-metrics {
			border: none;
		}
		section.tracking-metrics {
			border-top: none;
			margin: 0;
			padding-top: 0;
			display: block;
			position: relative;
			page-break-before: always;
			page-break-after: always;

			.metrics-lists {
				max-width: 100%;
				display: block;
				position: relative !important;
			}

			h1.tracking-metrics-label {
				font-weight: 400;
				margin-top: 2rem !important;
				display: block;
				padding: .75rem 0 .5rem;
			}

			div.tracking-metrics {
				//display: flex;
				//flex-flow: row wrap;
				display: block;
				padding: 0;
				max-width: 100%;
				width: 100%;
				position: relative;

				&::after {
					content: '';
					display: table;
					clear: both;
				}

				&.attitudes {
					border-right: none;
					order: 2;
					margin-top: 2rem;
					clear: both;
				}

				&.behaviors {
					order: 1;
				}

				span.metrics-list-header {
					display: block;
					width: 100%;
				}

				.tracking-metric {
					width: 48%;
					//display: inline-block;
					float: left;
					min-height: 25rem;
					margin: 0 0 .25rem;
					padding: .5rem;
					position: relative;

					&:nth-of-type(3) {
						page-break-inside: avoid !important;
					}

					&::after {
						content: '';
						display: table;
						clear: both;
					}

					.measure-config-graph {
						margin-top: .25rem;
					}

					.config-graph {
						width: 260px !important; //350
						height: 190px !important; //260

						canvas {
							width: 100% !important;
							height: auto !important;
							margin-left: 0;
						}
					}
				}

				h1.metric-label {
					font-size: 1.05rem !important;
					width: 100%;
					text-align: left;
					font-weight: 200 !important;
				}
			}

			.chart-legend {
				margin-left: 0;
			}

			.measure-info,
			.measure-metric-info {
				padding-top: 1.5rem;
			}

			.measure-info {
				color: #000;
				text-align: left;

				.metric-last-updated {
					text-align: left;
				}

				label {
					margin-bottom: 0;
				}

				.metric-last-updated {
					margin-top: .25rem;
				}

				span.val {
					color: #000;
				}

			}

			h2 {
				display: none;
			}

		}

	}

	.chart-legend {
		margin-left: 0;

		ul.pie-legend {
			li:first-child {
				span {
					-webkit-print-color-adjust: exact;
				}
			}
			li:last-child {
				span {
					-webkit-print-color-adjust: exact;
				}
			}
		}

	}

	.alignment {
		margin: 0;
		padding: 3rem 1rem 0;
		display: block;
		text-align: left;
		border: none;
		page-break-before: always !important;
		page-break-inside: avoid !important;
		position: relative;

		.printpage {
			display: none;
		}

		.alignment-header {
			margin-bottom: .5rem;
			position: relative;
			display: block;
			margin-top: 5rem;
			page-break-before: always;

			&::before {
				content: 'Aligned to';
				display: inline-block;
				margin-right: 7px;
			}
		}

		.card {
			background: transparent;
			border: none;
			box-shadow: none;
			color: #000;
			margin: .25rem 0 0;
			width: 100%;
			padding: .5rem 1rem 1rem;
			position: relative;
			display: block;
			float: none;
			page-break-inside: avoid !important;

			+ .card {
				margin-top: .25rem;
			}

			&.primary + .primary {
				margin-top: .5rem;
			}

			&.flipped {
				.face.back, .face.front {
					transform: rotatey(180deg);
				}
			}

			&.primary {
				background: transparent;
				border: 1px solid $color-lr-grey;
				box-shadow: none;
				color: #000;

				.face {
					border: none;
					background: transparent;
				}

			}

			.card-block {
				display: block;
				position: relative;
				text-align: left;
				padding: 0;
				min-height: 0;

				&.face {
					display: block;
					position: relative;
					text-align: left;
					min-height: 0;
					font-size: 1.35rem;
					line-height: 1.35;
					border: none;

					&.front,
					&.back {
						background: transparent;
					}
				}

				.fa.fa-info-circle {
					display: none;
				}

				&.back {
					transform: none;
					text-align: left;

					.card-text {
						font-size: .8rem;
						line-height: 1.25;
						font-weight: 300;
						font-style: italic;
					}
				}
			}

		}

		&.personal-alignment, &.leadership-alignment {

			canvas {
				width: 100% !important;
				height: auto !important;
			}

			.chart-legend {
				text-align: center;
				max-width: none;
				margin: 0 auto;
				flex-flow: column nowrap;

				.polararea-legend {
					text-align: center;
				}

				&::after {
					content: 'This goal is aligned with the bolded category/categories.';
					display: block;
					margin-top: 1rem;
					font-style: italic;
					font-size: .7rem;
				}
			}
		}
	}

}