.user-role-search .search-results > thead {
	display: none;
}

.user-viewer {
	position: relative;

	.message-container {
		position: relative;
		z-index: 0;
		margin: 1px 0 10px;

		&:empty {
			margin: 0;
		}

		div.message {
			padding: 9px 7px 9px 1.75rem;
		}

	}

	.actions.nav-actions {
		z-index: 99;
		position: relative;
	}

}

.update-password-dialog {
	.prop {
		text-align: left;
	}
}

#main-content-wc-0 .user-viewer h3 {
	word-break: break-all;
}