@import "../config/base-vars";
@import "../components/strength-meter";
@import "../../../../bower_components/bootstrap/scss/variables";
@import "../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../bower_components/bootstrap/scss/buttons";

#main-wrapper #main-content {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: .5rem 0;
	flex: 1 0 auto;
}

.goal-config-heading {
	float: left;
	display: none;
}

#side-nav {
	display: none;
}

.lr-goal-wizard-menu {
	//clear: both;

	.wizard-mobile-menu {
		display: block;
	}

	.wizard-menu {
		display: none;
	}

	.prop-group.smart-gauge {
		display: none;
		text-align: right;
		margin: 1rem 0 2rem;

		> .prop.smart-gauge {
			display: inline-block;
			text-align: left;
			width: 30rem;
		}

		.smart-guage-label, .meter {
			display: inline-block;
			vertical-align: middle;
		}

		.smart-guage-label {
			font-weight: 400;
			width: 10rem;
			text-align: right;
			padding-right: .5rem;
		}

		.meter {
			width: 20rem;
		}

	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: column nowrap;
	}

	li {
		list-style: none;
		flex: 1;
		display: flex;
		flex-flow: column nowrap;
		text-align: center;
		border: 1px solid $color-lr-brand;
		border-right: none;
		background: lighten($color-lighter-grey, 3%);
		position: relative;

		&.last {
			border-right: 1px solid $color-lr-brand;
		}

		a.menuitemlabel {
			flex: 1 0 auto;
			text-align: center;
			background: transparent;
			display: flex;
			padding: 1rem 0;
			font-size: 1.15rem;
			border-bottom: 4px solid transparent;
			justify-content: center;
			width: 100%;

			> span {
				align-self: center;
				display: inline-block;
				position: relative;
			}

			span.wiz-menu-bigtext {
				font-size: 1.75rem;
				font-weight: 500;
				margin-right: 2px;
			}

		}

		&.mi-active, &:hover {
			background: $color-white;

			a.menuitemlabel {
				border-bottom: 4px solid $color-lr-brand;

				&:hover {
					text-decoration: none;
				}

			}

		}

		&.completed {
			a.menuitemlabel > span {

				&::before {
					content: '\f00c';
					font-family: FontAwesome;
					font-size: 1.1rem;
					display: inline-block;
					vertical-align: middle;
					margin-top: -5px;
					margin-right: 5px;
				}

			}
		}

	}

	.wizard-menu {

		li {

			&.goal-definition {
				max-width: 10rem;
				margin-right: 1.5rem;
				z-index: 3;

				&.mi-active, &:hover {

					a.menuitemlabel {
						border-bottom: 4px solid transparent;
						text-decoration: underline;
					}

					&::before {
						border-left-color: $color-white;
					}

				}

				&::before {
					content: '';
					border-bottom: 39px solid transparent;
					border-left: 21px solid lighten($color-lighter-grey, 3%);
					border-top: 39px solid transparent;
					display: inline-block;
					position: absolute;
					right: -19px;
					top: 0;
					z-index: 1;
				}

				&::after {
					content: '';
					border-bottom: 40px solid transparent;
					border-left: 23px solid $color-lr-brand;
					border-top: 40px solid transparent;
					display: inline-block;
					position: absolute;
					right: -22px;
					top: -1px;
					z-index: 0;
				}

			}

			&.goal-specific {
				margin-left: -.5rem;

				&::before {
					content: '';
				border-bottom: 39px solid transparent;
					border-left: 21px solid $body-bg;
					border-top: 39px solid transparent;
					display: inline-block;
					position: absolute;
					left: -1px;
					top: 0;
					z-index: 1;
				}

				&::after {
					content: '';
					border-bottom: 40px solid transparent;
					border-left: 23px solid $color-lr-brand;
					border-top: 40px solid transparent;
					display: inline-block;
					position: absolute;
					left: -1px;
					top: -1px;
					z-index: 0;
				}

			}

		}

	}

}

.wizard-mobile-menu {

	a.dropdown-toggle {
		font-size: 1.25rem;
		font-weight: 400;
		padding: .25rem;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

	ul.dropdown-menu {
		position: relative;
		float: none;
		top: auto;
		left: auto;
		box-shadow: none;
		visibility: collapse;
		border: none;
		height: 0;
		overflow: hidden;

		li.dropdown-item {
			padding: 0;
			border: 1px solid $color-lr-brand;
			border-bottom: none;

			a.menuitemlabel {
				justify-content: flex-start;
				padding: 1rem 1rem 1rem 5rem;
			}

			&.last {
				border-bottom: 1px solid $color-lr-brand;
			}

		}

	}

	&.open {
		margin-bottom: 1rem;

		ul.dropdown-menu {
			visibility: visible;
			height: auto;
		}

	}

}

div.message {

	&.important {
		background: lighten(#FA7100, 38%);
		color: darken(#FA7100, 12%);
		border-color: darken(#FA7100, 12%);

		&::before {
			content: '\f05a';
			top: 12px;
			color: inherit;
		}

	}

}

.clarity-statement + div.message-container {
	margin-top: 1rem;
	margin-bottom: -1rem;
}

#main-content-wc-0 {
	padding: .5rem;

	section.wizard-step-section, .wizard-step-wrapper {
		> h1 {
			margin: 0;
			padding: 0 0 .5rem;
			color: $color-lr-brand;
			font-size: 1.5rem;
			font-weight: 400;
			border-bottom: 1px solid #e5e5e5;
		}

		&.definition-section {
			> h1 {
				font-size: 1.5rem;
			}
		}

	}

	.wizard-step-wrapper {
		h1.measure-config-editor-title {
			margin: 0;
			padding: 0 0 .5rem;
			color: $color-lr-brand;
			font-size: 1.5rem;
			font-weight: 400;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	section.metric-list {
		> h1 {
			font-size: 1.25rem;
			font-weight: 400;
			padding: 0;
		}

		h1.unit-name {
			font-size: 1.15rem;
			color: $color-lr-black;
			font-weight: 400;
			font-style: italic;
			padding: 0;
			margin: 0 0 .5rem;
		}

	}

}

section.wizard-step-section {
	padding: .75rem;
	background-color: $color-white;
	border: 1px solid #e5e5e5;
	margin-top: .25rem;

	h1.wizard-section-header-text {

	}

	div.prop, div.prop-group {
		margin-top: 1.5rem;

		> label {
			margin-bottom: 0;
			font-weight: 400;
			font-size: 1.15rem;
		}

		&.user-entry-required {
			> label::after {
				content: '*';
				color: $color-lr-red;
				padding-left: 3px;
			}
		}

		input.val, textarea.val {
			border: 1px solid #aaa;
			border-radius: $border-radius-sm;
			padding: 1px 4px;
			max-width: 100%;
		}

		textarea.val {
			width: 100%;
			height: 5rem;
		}

		.goal-measurement-baseline-unit, .goal-measurement-target-label {
			margin-left: .5rem;
		}

	}

	div.prop.predicted-ev-calc {
		label {
			display: block;
		}
	}

	.prop.predicted-ev {
		//@include clearfix();

		span.select2-container {
			width: 12rem !important;
			clear: both;
			float: left;
			margin-bottom: 1.5rem;
		}
	}

	.prop.predicted-ev-other {
		float: left;
		margin: 0 0 0 .75rem;

		input {
			width: 12rem;
		}
	}

	.prop.predicted-ev-calc {
		clear: left;
	}

	.prop.goal-measurement-time {

		> label {
			display: block;
		}

		.zoned-time-editor {
			label {
				font-weight: 300;
				font-size: 1rem;
				margin-right: 5px;
			}

			.field-separator {
				margin: 0 3px;
			}

			span.clock-period {
				margin-right: 8px;
				margin-left: 5px;
			}

			span.select2 {
				vertical-align: top;
			}

			.clock-period {
				span.select2 {
					width: 60px !important;
				}
			}

		}

	}

}

section.metric-list {
	margin-top: 2rem;
	position: relative;

	.actions {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 1rem;

		.btn {
			@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
		}

		&.entity-actions {
			float: none;
			position: absolute;
			top: -5px;
			left: 13.25rem;
			width: auto;
			margin: 0;
		}

	}

	&.attitudes .actions.entity-actions {
		left: 13rem;
	}

	.leading-indicators {

		input.selector {
			visibility: hidden;
			height: 0;
			width: 0;
		}

		.no_data {
			font-weight: 400;
			padding-left: 2rem;
		}

	}

	p.no-data {
		font-style: italic;
		color: darken($color-lr-light-grey, 18%);
		padding-left: 2rem;
	}

	.element {
		border: $color-light-grey 1px solid;
		padding: .5rem;
		margin-bottom: 1rem;
		background-color: $body-bg;
	}

	article.leading-indicator {
		margin-top: -1.25rem;

		.description {
			font-style: italic;
			padding: 0;
		}

		.reporting-frequency {
			margin: .5rem 0;

			> label {
				margin: 0 5px 0 0;
				font-weight: 400;

				&::after {
					content: ':';
					margin-left: 1px;
				}

			}

		}

		.notification-state {
			font-size: .75rem;
			font-style: italic;
		}

	}

}

.wizard-step-wrapper {
	/*max-width: 1200px;
	margin: 0 auto;*/

	section.prop-editor {
		padding: .75rem;
		background-color: $color-white;
		border: 1px solid #e5e5e5;
		margin-top: .25rem;
	}

	.prop-header .top.actions {
		margin-top: -4.5rem;
		margin-bottom: 3rem;
	}

	.actions {
		.btn.move {
			@include button-variant($color-lr-light-grey, $color-white, $color-lr-light-grey);
		}
	}

	.label-after {

		label.tbl {
			margin-bottom: 0;

			&::after {
				content: '';
			}

		}

		+ p.explainer {
			font-size: .85rem;
			padding-left: 23px;
		}

	}

	div.prop, div.prop-group {
		margin-top: 1.5rem;
		margin-bottom: 0;
		padding: 0 5px;

		> label {
			margin-bottom: 0;
			font-weight: 400;
			font-size: 1.15rem;
		}

	}

	p.explainer {
		color: darken($color-lr-light-grey, 18%);
	}

	.goal-measurement-time {
		.prop {
			padding: 2px;
		}
	}

	.prop-editor .prop, .add-word-wrapper {
		input[type="text"], textarea.val {
			width: 100%;
		}
		input[type="number"] {
			width: 6ch;
		}
	}

	.word-list-editor {
		margin-top: 1.5rem;

		.add-word-wrapper label {
			margin-bottom: 0;
			font-weight: 400;
			font-size: 1.15rem;
		}

		div.word-actions {
			display: inline-block;
			margin-left: 5px;

			.btn {
				@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
			}

		}
	}

	span.unit-name {
		margin-left: .5rem;
	}

	.miwt-table caption {
		margin-top: 1rem;
		font-size: .85rem !important;
	}

	.goal-measurement-time {
		> label::after {
			content: '*';
			color: $color-lr-red;
			padding-left: 3px;
		}

		.zoned-time-editor .prop label {
			display: inline-block;
			margin-right: 5px;

			&::after {
				content: '';
			}

		}

		.clock-period span.select2 {
			width: 60px !important;
		}

	}

	.actions.bottom {
		text-align: right;
	}

	.prop.goal-measurement-schedule {

		.prop.schedule {
			margin-top: 0;
			padding: 0;

			.prop {
				//margin-top: 0;
				padding: 0;
			}

		}

	}

	.prop-editor .prop {
		&.description,
		&.tracking-question,
		&.tracking-unit	{
			input[type="text"] {
				max-width: 100%;
				width: 100%;
			}
		}
	}

}

.wizard-step-section-header {

	+ p.explainer {
		margin-top: 1.5rem;
	}

}

.instructions-wrapper {
	display: block;
	margin-bottom: .5rem;
}

.org-objectives {
	margin-left: 5px;
	display: inline;
}

p.instructions {
	margin: 0;
	padding: 0;
	display: inline;
	font-style: normal;

	&.input-example {
		font-size: .8rem;
		color: darken($color-lr-light-grey, 18%);
		padding-left: 4px;
	}

}

div.prop {

	span.label-after {
		display: block;

		label.tbl {
			margin-left: 5px;
			display: inline;
		}
	}

	&.label-before, .label-before {

		label.tbl {
			margin-right: 5px;
			display: inline;
		}

	}

	&.month {
		.select2 {
			width: 8rem !important;
		}
	}

	&.clarity-statement {
		span.label-after {
			margin-bottom: .25rem;
		}
	}

}

.goal-statement {
	@include clearfix();
	background: #FFF8E0;
	/*background: darken($color-cornsilk, 5%)*/;
	border: 1px solid darken($color-cornsilk, 12%);
	color: $color-lr-grey;
	padding: 1rem;
	margin-bottom: 2rem;

	label {
		font-weight: 400;
		font-size: 1.15rem;
		display: inline-block;
		margin-bottom: 0;
	}

	span.val {
		display: block;
	}

	.prop-body, .prop-footer {
		display: inline-block;
	}

	.prop-body {
		float: left;
		width: 100%;
	}

	.prop-footer {
		float: left;
	}

	.btn.goal-statement-click-to-edit {
		@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
	}

}

.alignment-list-editor {

	.owner-objective-listing {
		margin-top: .5rem;
	}

	.objective-owner {
		font-weight: 400;
	}

	.alignment-container {
		margin-top: .5rem;

		.label-after label.tbl {
			margin-bottom: 0;
		}

		> label.tbl {
			font-size: .85rem;
			padding-left: 19px;
		}

		.predicted-ev {
			display: inline;
			margin-left: .5rem;
			font-size: .85rem;
			&::before {
				content: '(';
			}
			&::after {
				content: ')';
			}
			label {
				margin-bottom: 0;
				display: inline;
				&::after {
					content: ':';
					padding-right: 5px;
				}
			}
		}

	}

	.alignment-list-label {
		font-size: 1.15rem;
		font-weight: 400;
		margin-bottom: 0;
	}

}

div.popover {
	background: lighten(#2FC2EF, 1%);
	border: 1px solid darken(#2FC2EF, 15%);
	color: $color-white;
	font-family: $font-roboto;

	h1 {
		font-size: 1rem;
	}

	ol {
		padding-left: 30px;
	}

	.popover-title {
		background: darken(#2FC2EF, 15%);
		border-bottom: 1px solid darken(#2FC2EF, 15%);
	}

	button.popup-dismiss {
		@include button-variant(darken(#2FC2EF, 15%), $color-white, darken(#2FC2EF, 15%));
		@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
		border-width: 1px;
		border-style: solid;
	}

	&.bs-tether-element-attached-left .popover-arrow::after,
	&.popover-right .popover-arrow::after {
		border-right-color: darken(#2FC2EF, 15%);
	}

	&.bs-tether-element-attached-top .popover-arrow::after,
	&.popover-bottom .popover-arrow::after {
		border-bottom-color: darken(#2FC2EF, 15%);
	}

	&.org-objectives {
		max-width: 440px;

		span.name {
			font-weight: 500;
			&::after {
				content: ':';
				padding-right: 5px;
			}
		}

	}

	.predicted-ev {
		display: inline;
		margin-left: .5rem;
		font-size: .85rem;
		font-style: italic;
		&::before {
			content: '(';
		}
		&::after {
			content: ')';
		}
		label {
			margin-bottom: 0;
			display: inline;
			&::after {
				content: ':';
				padding-right: 5px;
			}
		}
	}

}

div.tooltip {

	&.in {
		opacity: 1;
	}

	.tooltip-inner {
		@extend div.popover;
	}

	&.bs-tether-element-attached-bottom .tooltip-arrow,
	&.tooltip-top .tooltip-arrow {
		border-top-color: darken(#2FC2EF, 15%);
	}

}

div.window.dialog {

	&.update-goal-statement-dlg {
		width: 95% !important;

		.prop-header {
			display: none;
		}

		textarea {
			height: 5rem;
			width: 100%;
		}

		.prop > label {
			display: inline-block;
			margin-bottom: 0;
		}

	}

	&.goal-reminder-opt-out-confirm {
		.confirm-prompt {
			font-weight: 400;
		}
		div.actions {
			margin-top: 1rem;
		}
		.btn {
			&.no {
				@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
			}
			&.yes {
				@include button-variant($color-lr-red, $color-white, $color-lr-red);
			}
		}
	}

}

.message-container {
	.btn {
		@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
		margin-left: .5rem;
	}
}

.wizard-navigator {
	margin-top: 1.5rem;
	@include clearfix();
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	.wizard-nav-group {
		flex: 1 0 auto;
	}

	.center-group {
		text-align: center;
	}

	.right-group {
		text-align: right;
	}

	.btn.next, .btn.submit {
		@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);

		&::after {
			content: '\f054';
			font-family: FontAwesome;
			margin-left: 8px;
			font-size: 85%;
		}

	}

	.btn.previous {
		@include button-variant($color-lr-brand, $color-white, $color-lr-brand);
		margin-right: 1rem;

		&::before {
			content: '\f053';
			font-family: FontAwesome;
			margin-right: 8px;
			font-size: 85%;
		}

	}

	.btn.save_exit {
		background: none;
		border-radius: 0;
		padding: 0;
		box-shadow: none;
		color: $color-lr-brand;
		text-decoration: underline;
		margin-right: 1rem;

		&:hover {
			text-decoration: none;
		}

	}

	.btn.cancel {
		@extend .btn.save_exit;
		color: $color-lr-light-grey;
	}

}

@media (min-width: 768px) {

	#main-content-wc-0 {
		padding: .5rem 2rem;

		section.wizard-step-section {

			> h1 {
				font-size: 1.75rem;
			}

			&.definition-section {
				> h1 {
					font-size: 2rem;
				}
			}

		}

	}

	.lr-goal-wizard-menu {

		.prop-group.smart-gauge {
			display: block;
		}

		ul {
			flex-flow: row nowrap;
		}

	}

	.goal-statement {
		.prop-body {
			width: calc(100% - 75px);
		}

		.prop-footer {
			float: right;
		}
	}

	section.wizard-step-section {
		margin-top: 1rem;
		padding: 1.25rem;

		.clarity-statement div.val,
		.alignment-list-editor .alignment-container,
		.control-statement div.val,
		.confidence-statement div.val,
		.sign-off-statement div.val {
			padding-left: 2rem;
		}

	}

	section.metric-list {

		.actions {
			float: right;
			width: auto;
			margin: -8px 0 0;
			text-align: right;
		}

		article.leading-indicator {
			.description {
				padding: 0 1.75rem;
			}
		}

		.element {
			padding: 1rem;
		}

		p.explainer {
			padding-right: 4.25rem;
		}

	}

	.wizard-step-wrapper {

		section.prop-editor {
			margin-top: 1rem;
			padding: 1.25rem;
		}

		.prop-editor .prop, .add-word-wrapper {
			input[type="text"], textarea.val {
				width: 20rem;
			}
			input[type="number"] {
				width: 8ch;
			}
		}

		.goal-measurement-time {
			.prop {
				padding: 5px;
			}
		}

		.prop > div.val {
			padding-left: 2rem;
		}

	}

	div.window.dialog {

		&.update-goal-statement-dlg {
			width: 80% !important;
		}

	}

}

@media (min-width: 769px) {

	.goal-config-heading {
		display: block;
	}

	.lr-goal-wizard-menu {

		.wizard-mobile-menu {
			display: none;
		}

		.wizard-menu {
			display: block;
		}
	}
}

@media (max-width: 767px) {
	.wizard-navigator {
		.btn.next, .btn.submit {
			width: 45px;
			color: transparent;
			overflow: hidden;
			white-space: nowrap;
			text-indent: -4.25ch;
			&::after {
				color: $color-white;
			}
			&:hover, &:focus {
				color: transparent;
				&::after {
					color: $color-white;
				}
			}
		}
		.btn.submit {
			text-indent: -6ch;
		}
		.btn.previous {
			width: 45px;
			color: transparent;
			overflow: hidden;
			white-space: nowrap;
			&::before {
				color: $color-lr-brand;
			}
			&:hover, &:focus {
				color: transparent;
				&::before {
					color: $color-lr-brand;
				}
			}
		}
	}
	section.wizard-step-section {
		.prop.predicted-ev span.select2-container {
			margin-bottom: .75rem;
		}
		.prop.predicted-ev-other {
			margin-left: 0;
			margin-bottom: 1.5rem;
		}
		div.prop {
			&.goal-measurement-target,
			&.goal-measurement-baseline {
				input.val {
					width: 100%;
				}
			}
			.goal-measurement-baseline-unit,
			.goal-measurement-target-label {
				display: block;
				margin: .25rem 0 0 0;
			}
		}
	}
	.wizard-step-wrapper .prop-header .top.actions {
		margin-top: 0;
		margin-bottom: 1rem;
	}
	section.metric-list {
		p.no-data .leading-indicators .no_data {
			padding-left: 0;
		}
	}
}