@import "../config/base-vars";
@import "../components/strength-meter";
@import "../components/goal-status-tabs";
@import "../../../../bower_components/bootstrap/scss/variables";
@import "../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../bower_components/bootstrap/scss/buttons";


#main-wrapper #main-content {
	max-width: 100%;
}

#main-content-wc-0 {
	padding: 0;
}

#main-content-wc-0 .goal-configuration {
	h1 {
		&.title {
			font-size: 1.5rem;
			color: $brand-primary;
			max-width: 100%;
			text-transform: none;
			&::before {
				font-family: FontAwesome;
				display: inline-block;
				padding-right: 3px;
				font-size: 70%;
				margin-top: -3px;
				vertical-align: middle;
			}

			.title-goal-type {
				font-weight: 500;
			}

		}
		&.step-name {
			color: $brand-primary;
			margin: 0 0 1.25rem;
			padding: 0 0 0 .25rem;
			position: relative;
			display: inline-block;
			font-size: 1.5rem;
		}
	}
	.goal-name {
		padding-left: .25rem;
		margin-bottom: 1.25rem;

		.goal-status {
			display: inline-block;
			color: $color-light-grey;
			padding-left: .5rem;
			line-height: 2rem;
			vertical-align: middle;

			&:before {
				display: inline-block;
				content: "\2014";

			}

		}
	}

	.goal-step.step-definition {
		h1.step-name {
			margin-bottom: 0;
		}
	}

	&.goal-type-organizational {
		h1.title::before {
			content: '\f1ad';
		}
	}

	&.goal-type-leadership {
		h1.title::before {
			content: '\f0c0';
		}
	}

	&.goal-type-personal {
		h1.title::before {
			content: '\f24e';
		}
	}

}

.step-wrapper {
	display: flex;
	flex-flow: column nowrap;

	.prop {
		margin-right: 0;

		label {
			margin-bottom: 0;

			&::after {
				content: ':';
				margin-left: 1px;
			}

		}

		&.smart-gauge {
			margin-right: 0;
			margin-bottom: 0;
		}

	}
}

section.goal-step {
	background-color: $color-white;
	border: 1px solid #e5e5e5;
	padding: 1.25rem 1.25rem 1.25rem 2.35rem;
	position: relative;
	margin-bottom: .75rem;

	.persistence-actions {
		float: right;
	}

	.btn.edit {
		@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
	}

	&:not(.step-definition) {
		padding: 3rem 1.25rem .25rem;

		.step-name-container {
			background-color: $color-lr-light-grey;
			padding: .35rem .25rem .25rem 1.5rem;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;

			h1 {

				#main-content-wc-0 & {
					color: $color-white;
					font-size: 1.15rem;
					line-height: 20px;
					font-weight: 400;
					margin: 0;
				}
			}

		}

		&.completed {
			.step-name-container {
				background-color: $color-lr-brand;
				&::before {
					content: '\f00c';
					font-family: FontAwesome;
					font-size: 1rem;
					display: inline-block;
					vertical-align: middle;
					position: absolute;
					left: 7px;
					top: 5px;
					color: $color-white;
				}
			}
		}

	}

	&.step-measurable {
		padding-bottom: 1.25rem;
	}

}

.goal-header {

	.title-wrapper .plan-name {
		display: block;
		font-size: 1.25rem;
		font-weight: 400;
		color: darken($color-lr-light-grey, 5%);
	}

	h1.title {
		display: block;
		width: 100%;
	}

	.actions {
		text-align: center;
		margin-top: 0;
		display: block;
	}

	.btn.back {
		margin-bottom: .5rem;
		@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
		float: right;

		&::before {
			content: '\f112';
			font-family: FontAwesome;
			margin-right: 5px;
			color: inherit;
		}

	}

	.row1, .row2 {
		clear: both;
	}

	.row1 {
		margin-bottom: .5rem;
		.btn {
			margin:0;
			border-color: $color-lr-brand;
			font-size: .9rem;
		}
		.view {
			border-right: none;
			border-radius: 20px 0 0 20px;

			&::before {
				content: '\f201';
				font-family: FontAwesome;
				margin-right: 5px;
				color: inherit;
			}

		}
		.edit {
			border-left: none;
			border-radius: 0 20px 20px 0;
			background-color: $color-lr-brand;
			color: #fff;

			&::before {
				content: '\f013';
				font-family: FontAwesome;
				margin-right: 5px;
				color: inherit;
			}

			&:hover {
				color: $color-white;
				background-color: darken($color-lr-brand, 10%);
			}

		}
	}

	.row2 {
		text-align: center;

		.btn {
			@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
		}
	}

}

.goal-definition {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	.goal-statement {
		flex: 1 0 100%;
	}

	.goal-reporting-frequency,
	.goal-accomplished-by,
	.goal-measured-by,
	.goal-baseline-amount,
	.goal-target-amount,
	.goal-predicted-economic-value,
	.goal-economic-value {
		flex-grow:1;
		width: 100%;
		padding-right: 2%;
	}

	.prop.goal-predicted-economic-value {
		.goal-predicted-economic-value-calc {
			font-style: italic;
			margin-left: 5px;
			font-size: .8rem;
			&::before {
				content: '-';
				padding-right: 5px;
			}
		}
	}

	.prop.goal-economic-value {
		.goal-economic-value-calc {
			font-style: italic;
			margin-left: 5px;
			font-size: .8rem;
			&::before {
				content: '-';
				padding-right: 5px;
			}
		}
	}
}

.goal-strength {
	display: flex;
	flex: 1;
	justify-content: center;
}

.step-specific {
	ul {
		list-style: none;
		padding-left: 0;
	}
	li {
		@include clearfix();

		+ li {
			margin-top: .5rem;
		}

		.name, .author {
			display: block;
			float: left;
		}

		.author {

			&:after {
				content: ": ";
				padding-right: 5px;
			}
		}

		.description {
			display: block;
			float: left;
			clear: left;
			font-style: italic;
			color: lighten($color-lr-grey, 5%);
		}

		.predicted-ev {
			display: block;
			float: left;
			margin: 1px 0 0;
			color: lighten($color-lr-grey, 5%);
			font-size: .85rem;
			&::before {
				content: '(';
			}
			&::after {
				content: ')';
			}
			label {
				margin-bottom: 0;
				display: inline;
				&::after {
					content: ':';
					padding-right: 5px;
				}
			}
		}
	}
	.goal-alignments {
		margin-bottom: 0;
		label {
			margin-bottom: 0;
		}
	}
}
#main-content-wc-0 .step-measurable {

	h2 {
		font-size: 1.5rem;
		font-weight: 400;
	}

	.behaviors, .attitudes {
		width: 100%;
	}

	.leading-indicator {
		border: $color-light-grey 1px solid;
		padding:.5rem;
		margin-bottom: 1rem;
		background-color: $body-bg;

		h1 {
			font-size: 1.15rem;
			font-style: italic;
			font-weight: 400;
			color:#000;
			margin: 0 0 .25rem;
			padding: 5px;
		}

		.reporting-frequency {
			margin-bottom: 0;
			label, span.val {
				display: inline;
			}
			label {
				margin-right: 5px;
			}
		}

		.notification-state {
			font-size: .75rem;
			font-style: italic;
			padding: .25rem;
		}

	}

}

.step-realistic {

	.goal-confidence-level, .goal-signoff {
		width: 100%;
		min-width: 0;
		max-width: none;
	}

}

.step-time-bound {

	.goal-dstart, .goal-dend {
		min-width: 30%;
		max-width: 50%;
	}

}

div.window.dialog {
	.label-after {
		display: block;
		margin-bottom: .5rem;

		label.tbl {
			display: inline;
			margin-left: 5px;

			&::after {
				display: none;
			}
		}
	}
	.predicted-ev-editor {
		margin-bottom: 1.5rem;
		@include clearfix();
		.prop {
			padding: 0;
		}
		.predicted-ev, .ev {
			margin-bottom: 0;
			span.select2 {
				float: left;
				clear: both;
				margin-bottom: 1rem;
			}
		}
		.predicted-ev-other, .ev-other {
			float: left;
			margin: 0;

			input {
				width: 11rem;
				margin: 0 0 0 .75rem;
			}
		}
		.predicted-ev-calc {
			clear: both;
		}
		label {
			margin-bottom: 0;
		}
		span.select2 {
			width: 12rem !important;
		}
		textarea {
			height: 5rem;
		}
	}
	div.persistence-actions {
		clear: both;
	}
}

@media (min-width: 768px) {
	#main-wrapper #main-content {
		padding: .5rem 2rem;
	}

	#main-content-wc-0 .goal-configuration {
		h1 {
			&.title {
				font-size: 2rem;
				padding: 0;
				margin-bottom: 0;

				.title-goal-type {
					font-weight: 400;
				}

			}
			&.step-name {
				font-size: 2rem;
			}
		}

	}

	.goal-header {
		.title-wrapper {
			width: calc(100% - 325px);
			display: inline-block;
		}

		.actions {
			display: inline-block;
			vertical-align: middle;
			width: 325px;
		}
		.row2 {
			text-align: right;
		}
		h1.title {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.step-wrapper {
		flex-flow: row nowrap;

		.prop {
			margin-right: 2rem;
		}

	}

	.goal-definition {
		width: 75%;

		.goal-reporting-frequency,
		.goal-accomplished-by,
		.goal-measured-by,
		.goal-baseline-amount,
		.goal-target-amount,
		.goal-predicted-economic-value,
		.goal-economic-value {
			width: 45%;
		}

	}

	#main-content-wc-0 .step-measurable {

		.behaviors, .attitudes {
			width: 50%;
		}

		.behaviors{
			border-right: $color-light-grey 1px solid;
			padding-right: 2rem;
		}

		.attitudes {
			padding-left: 2rem;
		}

	}

	.step-realistic {

		.goal-confidence-level, .goal-signoff {
			min-width: 30%;
			max-width: 50%;
		}

	}

}

@media (max-width: 767px) {
	.goal-configuration {
		padding: .5rem;
	}
	.goal-header {
		.actions {
			@include clearfix();
		}
		.btn.back {
			width: 40px;
			overflow: hidden;
			white-space: nowrap;
			color: transparent;
			margin-bottom: 0;
			&::before {
				color: $color-lr-brand;
			}
			&:hover, &:focus {
				color: transparent;
				&::after {
					color: $color-lr-brand;
				}
			}
		}
		.goal-actions {
			display: inline-block;
			float: left;
			clear: none;
			&.row1 {
				margin-bottom: 0;
			}
			&.row2 {
				width: 100%;
				margin: 1rem 0 0;
				clear: both;
			}
		}
		.btn.edit {
			width: 45px;
			overflow: hidden;
			white-space: nowrap;
			color: transparent;
			&::before {
				color: $color-white;
			}
			&:hover, &:focus {
				color: transparent !important;
				&::before {
					color: $color-white;
				}
			}
		}
		.btn.view {
			width: 45px;
			overflow: hidden;
			white-space: nowrap;
			color: transparent;
			&::before {
				color: $color-lr-brand;
			}
			&:hover, &:focus {
				color: transparent;
				&::after {
					color: $color-lr-brand;
				}
			}
		}
	}

	section.goal-step {
		padding: 1.25rem;

		.actions.persistence-actions {
			margin-bottom: .5rem;
		}

		.btn.edit {
			width: 39px;
			overflow: hidden;
			white-space: nowrap;
			color: transparent;
			&::before {
				content: '\f040';
				font-family: FontAwesome;
				color: $color-lr-brand;
			}
			&:hover, &:focus {
				color: transparent !important;
				&::before {
					color: $color-lr-brand;
				}
			}
		}
	}
}
