@import "../config/base-vars";

$meter-green: #3cba54;
$meter-yellow: #f4c20d;
$meter-red: #db3236;

.smart-gauge-label {
  font-weight: 400;
  color: $color-app-grey;
  margin-bottom: 4px;
  &:after {
    content: ": ";
  }
}

.meter {
  width: 12rem;
  height: 20px;
  padding:0;
  margin:0;
  box-sizing: border-box;
  position:relative;
  border-radius: $border-radius-sm;
  .cat {
    display:inline-block;
    width: 33.33333%;
    height:100%;
    padding:0;
    margin:0;
  }
  .low{
    background-color: $meter-red;
    border-top-left-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom: 3px solid darken($meter-red, 18%);
  }
  .medium{
    background-color: $meter-yellow;
    border-bottom: 3px solid darken($meter-yellow, 18%);
  }
  .high {
    background-color: $meter-green;
    border-top-right-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
    border-bottom: 3px solid darken($meter-green, 18%);
  }
  .indicator{
    position: absolute;
    width: 1px;
    height: 130%;
    background-color: transparent;
    z-index: 1;
    top:-14%;

    &::before, &::after {
      content: '';
      background: none;
      position: absolute;
      margin-left: -12px;
      display: block;
    }

    &::before {
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 20px solid darken($app-page-bg, 13%);
      bottom: -8px;
    }

    &::after {
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 20px solid $color-app-grey;
      bottom: -5px;
    }

  }
}
